tmp

# Mac
.DS_Store

# Nix
result
.direnv

# WinGet
/config/app/git/win/.gitconfig


# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc

# GitHub Terraform
/infra/github/terraform/*
!/infra/github/terraform/.terraform.lock.hcl
